@import '@/assets/base.css';

#app {
}

a {
  text-decoration: none;
}

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  text-decoration: underline;
  color: #0f0;
}

a.router-link-exact-active {
  color: #ff0;
}

a:not(.router-link-exact-active):hover {
}
a.router-link-exact-active:hover {
}

a:active {
  color: #f00;
}